:root 
{
--brand: #2E3192;
--white: #ffffff;
--black: #1b1b1b;
--darkgray: #7a7a7a;
--gray: #c1c1c1;
--lightgray: #dadada;
--light: #f2f2f2;
--blue: #4C92BE;
--red: #EB5C5C;
--green: #54B669;
--yellow: #F9A825;
--orange: #FF7426;
--lightblue: #ECF5FB;
}
body 
{
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;    
}
#tops-header 
{
width: 100%;
height: auto;
background-color: var(--blue);    
}
.navbar-brand img
{
width: 70% !important;
height: auto;    
}
.navbar-link li 
{
display: inline-block;
padding: 2px 10px;
text-decoration: none;
list-style-type: none;    
}
.navbar-link a 
{
color: black;
text-decoration: none;
list-style-type: none;
font-size: 18px;
font-weight: 600;    
}
#tops-slider
{
width: 100%;
height: 450px;
background: url('../images/home-banner.jpg') no-repeat;
background-position: center;    
}
.tops-exelance
{
width: 94%;
margin: auto;
border-radius: 10px;
height: 18vh;    
}
.tops-exelance-img
{
width: auto;
height: 18vh;
border-radius: 10px 0px 0px 10px;    
background-color: var(--blue) !important;   
clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%); 
}
.tops-exelance-img img
{
width: 50%;        
margin-top: 0%;
}
.enquiry-txt
{
width: 100%;
height: auto;  
background: url('../images/inquiry-bg.png') no-repeat;
background-size: 100% 200px;  
}
/* media query */
@media only screen and (min-width:320px) and (max-width:580px)
{
.navbar-brand img
{
width: 60% !important;
height: auto;    
margin: 0 !important;
}
.navbar-link li 
{
display: block;
padding: 8px 0px;
text-decoration: none;
list-style-type: none;    
}
}
@media only screen and (min-width:581px) and (max-width:767px)
{
.navbar-brand img
{
width: 50% !important;
height: auto;    
margin: 0 !important;
}
.navbar-link li 
{
display: block;
padding: 8px 5px;
text-decoration: none;
list-style-type: none;    
}
}
